.view.view-main.navbar-through
  .navbar
    .navbar-inner
      .left
        a(href="#").back.link
          i.icon.icon-back
          span 后退
      .center.sliding 编辑牌手
  .pages
    .page(data-page="edit-player")
      .page-content
        .content-block-title 牌手
        .list-block.inset
          ul
            li
              .item-content
                .item-inner
                  .item-title.label 牌手名称
                  .item-input
                    input#input-player-name(type="text", placeholder="谜之牌手 Lv4")
        .content-block
          a.button#ok-button.button-big.button-fill.color-green 确定
        .content-block
          a.button#remove-button.button-big.button-fill.color-red 移除