.navbar
  .navbar-inner
    .center.sliding 对阵历史
.page(data-page="index-history")
  .searchbar.searchbar-init(data-search-list=".list-group-search" data-search-in=".item-title")
    .searchbar-input
      input(type="search", placeholder="搜索历史")
      a(href="#").searchbar-clear
  .searchbar-overlay
  .page-content
    .content-block.searchbar-not-found
      .content-block-inner 没有这个人呢
    #history-list.list-block.inset.list-block-search.search
      .list-group
        .list-group-title 第一轮
        ul
          li.item-content
            .item-inner
              .item-title 废铁 vs 剑圣
              .item-after 废铁胜利
          li.item-content
            .item-inner
              .item-title 熊猫 vs 枪兵
              .item-after 枪兵胜利
          li.item-content
            .item-inner
              .item-title 无神论 vs 翔君
              .item-after 平局
          li.item-content
            .item-inner
              .item-title 废铁 vs 剑圣
              .item-after 废铁胜利
        .list-group-title 第二轮
        ul
          li.item-content
            .item-inner
              .item-title 废铁 vs 剑圣
              .item-after 废铁胜利
          li.item-content
            .item-inner
              .item-title 熊猫 vs 枪兵
              .item-after 枪兵胜利
          li.item-content
            .item-inner
              .item-title 无神论 vs 翔君
              .item-after 平局
          li.item-content
            .item-inner
              .item-title 废铁 vs 剑圣
              .item-after 废铁胜利