.view.view-main
  .navbar
    .navbar-inner(data-page="index")
      .center.sliding 瑞士轮管理
  .pages.navbar-through.toolbar-through
    .page(data-page="leader-page")
      .page-content
        .content-block-title 初始配置
        .list-block.inset
          ul
            li
              .item-content
                .item-inner
                  .item-title.label 名称
                  .item-input
                    input#input-game-name(type="text", placeholder="LL 杯")
            li
              .item-content
                .item-inner
                  .item-title.label 轮数
                  .item-input
                    input#input-game-rounds(type="number", placeholder="4")
            li
              .item-content
                .item-inner
                  .item-title.label 平局
                  .item-input
                    select
                      option 允许
                      option 双败
                      option 禁止
            li
              .item-content
                .item-inner
                  .item-title.label 参赛牌手
                  .item-input
                    a(href='index-edit-player.html') 点此编辑

          .content-block
            input(type="submit", value="开始").button#start-button.button-big.button-fill.color-green
