doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title 今天爽哥也在玩萌娘
    link(rel="stylesheet", href="./../bower_components/Framework7/dist/css/framework7.ios.min.css")
    link(rel="stylesheet", href="./../bower_components/Framework7/dist/css/framework7.ios.colors.min.css")
    link(rel="stylesheet", href="./../less/main.css")
  body
    .statusbar-overlay
    .panel-overlay
    .panel.panel-left.panel-reveal
      .content-block
    .panel.panel-right.panel-reveal
      .content-block
    .views.tabs.toolbar-through
      .view.tab.active#view-leader
        .navbar
          .navbar-inner
            .center.sliding 肮脏的瑞士轮屁眼交易
        .pages.navbar-through
          .page
      .view.tab#view-index-match
        .navbar
          .navbar-inner
            .center.sliding 对局
        .pages.navbar-through
          .page
      .view.tab#view-index-player
        .navbar
          .navbar-inner
            .center.sliding 牌手
        .pages.navbar-through
          .page
      .view.tab#view-index-history
        .navbar
          .navbar-inner
            .center.sliding 历史
        .pages.navbar-through
          .page
      .view.tab#view-index-control
        .navbar
          .navbar-inner
            .center.sliding 控制
        .pages.navbar-through
          .page
      .toolbar.tabbar.tabbar-labels#toolbar
        .toolbar-inner
          a(href="#view-index-match").tab-link.active
            i.icon
            span.tabbar-label 对局
          a(href="#view-index-player").tab-link
            i.icon
            span.tabbar-label 牌手
          a(href="#view-index-history").tab-link
            i.icon
            span.tabbar-label 历史
          a(href="#view-index-control").tab-link
            i.icon
            span.tabbar-label 控制

    script(type="text/javascript", src="./../bower_components/Framework7/dist/js/framework7.min.js")
    script(type="text/javascript", src="./../bower_components/jQuery/dist/jquery.min.js")
    script(type="text/javascript", src="./../coffee/core.js")
    script(type="text/javascript", src="./../coffee/config.js")
    script(type="text/javascript", src="./../coffee/datas.js")
    script(type="text/javascript", src="./../coffee/global.js")
    script(type="text/javascript", src="./../coffee/indexMatch.js")
    script(type="text/javascript", src="./../coffee/indexHistory.js")
    script(type="text/javascript", src="./../coffee/indexPlayer.js")
    script(type="text/javascript", src="./../coffee/editPlayer.js")
    script(type="text/javascript", src="./../coffee/match.js")
    script(type="text/javascript", src="./../coffee/player.js")
    script(type="text/javascript", src="./../coffee/test.js")
    script(type="text/javascript", src="./../coffee/switch.js")
    script(type="text/javascript", src="./../coffee/leader.js")
    script(type="text/javascript", src="./../coffee/app.js")