.view.view-main.navbar-through
  .navbar
    .navbar-inner
      .left
        a(href="#").back.link
          i.icon.icon-back
          span 后退
      .center.sliding 对局
  .pages
    .page(data-page="player")
      .page-content
        .content-block-title 历史对局
        #player-history-list.list-block.inset
          ul
            li.item-content
              .item-inner
                .item-title 第四轮 对阵 剑圣
                .item-after 胜利
            li
              .item-content.item-inner
                .item-title 第三轮 对阵 剑圣
                .item-after 胜利
            li
              .item-content.item-inner
                .item-title 第二轮 对阵 剑圣
                .item-after 胜利
            li
              .item-content.item-inner
                .item-title 第一轮 对阵 翔君
                .item-after 败北
          #player-text-label.list-block-label 废铁当前 <div class="badge">3 - 1</div> 积 <div class="badge">9</div> 分